.panel{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 7vh;
	display: grid;
	place-items: center;
	grid-template: auto/repeat(5,1fr);
	justify-items: stretch;
	position: relative;
	margin-right: 0.5px;
}

.panel[data-mod="0"]{
	background-color: var(--bgcV1);
	transition: background-color 1s ease;
}

.panel[data-mod="1"]{
	gap: 1vmin;
}

.panel[data-mod="1"] > .nav_i, .panel[data-mod="1"] > .predBlock > .nav_i{
	background-color: var(--bgcV1);
	border-radius: 5px;
}

.panel > *{
	grid-row: 1;
}

.nav_i{
	text-decoration: none;
	border: 1px solid var(--bcV1);
	cursor: pointer;
	color: var(--cV1);
	font-size: 1.25vmax;
	font-weight: bold;
	margin: -1px -0.5px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	transition: color 1s ease;
	transition-property: color, text-shadow, border-color, background-color;
	background-color: var(--bgcV1);
	border-radius: 5px;
	text-shadow: 1px 1px 3px var(--shdV1);
	backface-visibility: hidden;
	perspective: 1000px;
}

#nav_i:hover{
	color: #00ff00 !important;
	text-shadow: 0 0 2vw #66ff66;
}

#nav_i:active, #nav_i[data-act="1"]{
	-webkit-transition: color 0.1s ease;
	-o-transition: color 0.1s ease;
	transition: color 0.1s ease;
	color: #004d00 !important;
}

.nav_iJur{
	font-weight: 500;
	background-color: unset;
	border-radius: unset;
	transition-property: color, text-shadow, border-color;
	margin: -0.5px;
	padding: 5px;
	position: relative;
}

.lin{
	height: 20%;
	background: var(--bgcV2);
	position: absolute;
	bottom: 0;
	left: 0;
	transition: left 1s ease;
}

.predInf{
	align-self: end;
	font-size: 1.25vw;
}

.predEl{
	display: grid;
	justify-items: center;
	grid-template: auto auto / auto auto;
	width: 100%;
	z-index: 1;
}

.predEl img{
	width: 2vw;
	grid-row: 1/3;
	margin-right: 0.25vw;
}

.predBlock:hover > .predMenu, .predMenu:hover{
	opacity: 1;
	top: 100%;
}

.predMenu{
	position: absolute;
	height: 100%;
	top: -300%;
	transition: top 1s ease;
	transition-property: top, opacity;
	opacity: 0;
	margin-right: 100%;
}

.predMM{
	height: 300%;
	overflow-y: auto;
	overflow-x: hidden;
}

.predMM > div{
	height: 33.3%;
}

.predBlock{
	position: relative;
	margin-inline: -0.5px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: stretch;
	width: 100%;
}

.pred{
	background-color: var(--bgcV1);
	z-index: 1;
	padding: 0;
	height: 100%;
	margin-bottom: -2px;
	margin-inline: 0;
}

.nav_iZag{
}

.chPass{
    text-decoration: underline;
    cursor: pointer;
    transition-delay: unset;
    border: none;
    background-color: unset;
    display: none;
}

.field{
    display: none;
    vertical-align: middle;
    margin-left: 5px;
}

.blNew{
    display: none;
    transition-delay: unset;
    border: none;
    background-color: unset;
}

.nav_i[data-st='0'] > .fi, .nav_i[data-st='1'] > .in, .nav_iZag .in{
    display: inline-block;
}

.nav_iZag[data-st='0'] > .chPass, .nav_iZag[data-st='1'] > .blNew{
    display: flex;
}

.imginp, .imgfield{
    width: 1vw;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 1vw;
    display: none;
}

.inp {
    border-radius: 0.5vmax;
    background-color: #4d4d4d;
    user-select: none;
	box-shadow: 0 1px #FFFFFFAA, inset 0 2px 2px #000000AA;
    border: 1px solid var(--bcV2);
    height: 90%;
    position:relative;
    transition: background-color 1s ease;
    transition-property: background-color, border-color;
    vertical-align: middle;
    display: none;
    width: 50%;
    font-size: 1.25vw;
	padding: 0 0 0 1vw;
	margin-left: 1vw;
}

.inp[data-mod='1']{
	animation: but ease 1s;
	outline: solid red;
}

@keyframes but {
	0%{transform: rotateZ(-2deg);}
	50%{transform: rotateZ(2deg);}
	100%{transform: rotateZ(0deg);}
}

img.in[data-enable="0"] {
    pointer-events: none;
    opacity: 0.4;
}